.masters {
    --background: linear-gradient(to bottom, #152a3f 0%, #66ccff 100%);
  }


  .cl_bottom_nav_css{
    width:30px;
    height:30px;
    color:gray;
  }
  
  .cl_bottom_fix{
    position: fixed; 
    bottom:0px;
    height:50px;
     width: 100%;
      background-color: white;
  }
  
  .cl_post_css{
    width:30px;
    height:30px;
    color:#152a3f;
    // color:rgb(247, 97, 97);
  }