<ion-header class="new-background-color">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" style="color:white">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color:white ; margin-left:-15px">
      Chats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width:100%;height:100%;">
    <div *ngFor="let item of chatListArray" style="margin-top:10px">

      <ion-row (click)="detailChat(item.name)" style="margin-left:10px; width:100%">
        <ion-col size="2">
          <img src="../../../assets/defaultprofilepicimg.png"
            style="border-radius: 50%;width:55px; height:55px; border:1px solid rgb(240, 234, 234)" />
        </ion-col>
        <ion-col size="10" style="margin-top:5px;">
          <ion-item style="margin-left:-10px">
            <div fxLayout="column" >
              <label style="color:black; font-size:12px;">{{item.name}}</label>
              <label style="color:black;font-size:17px;">{{item.name}}</label>
            </div>
            

          </ion-item>


        </ion-col>
      </ion-row>

    </div>
    <div class="cl_bottom_fix">
      <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-top:10px">
        <ion-icon name="home" class="cl_bottom_nav_css" (click)="home()"></ion-icon>
        <ion-icon name="document" class="cl_post_css" (click)="openChatList()"></ion-icon>
        <ion-icon name="add-circle" class="cl_bottom_nav_css" (click)="postAdvertisement()">
        </ion-icon>
        <ion-icon name="heart" class="cl_bottom_nav_css" (click)="openFavourite()"></ion-icon>
        <ion-icon name="person" class="cl_bottom_nav_css" (click)="openProfile()"></ion-icon>
      </div>
    </div>

  </div>

</ion-content>