<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title style="color:white">Advertisement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" fxLayout="column" (ngSubmit)="form1()" #formone="ngForm">
        <ng-template matStepLabel>Advertisement Detail</ng-template>
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput  type="text" formControlName="titleCtrl" required>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <input matInput type="number" formControlName="priceCtrl" required>
        </mat-form-field>
       
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput type="text" formControlName="descriptionCtrl" required></textarea>
        </mat-form-field>
       
        <div fxLayoutAlign="end end" fxFlex="100">
          <button mat-button matStepperNext class="buttonClass">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" fxLayout="column" (ngSubmit)="form2()" #formtwo="ngForm">
        <ng-template matStepLabel>Contact Details</ng-template>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="emailCtrl" required pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <input matInput type="tel" minlength="10" maxlength="10" formControlName="mobileCtrl" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <textarea matInput type="text" formControlName="addressCtrl" required></textarea>
        </mat-form-field>
        <div fxFlex="100" fxLayoutGap="15px" fxLayoutAlign="end end">
          <button mat-button class="buttonClass" matStepperPrevious>Back</button>
          <button mat-button class="buttonClass" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup" fxLayout="column" (ngSubmit)="form3()" #formthree="ngForm">
        <ng-template matStepLabel>Images Upload</ng-template>
       

<!-- <h5 style="margin-top:15px; margin-left:10px">Upload images</h5> -->
<div class="cl_image_div" fxLayout="row">
<div fxLayout="column" fxLayoutAlign="center center" class="cl_first_column_img" onclick="document.getElementById('image_upload1').click()">
  <ion-icon *ngIf="firstImage == '' " name="camera" class="cl_images"></ion-icon>
  <label *ngIf="firstImage == '' " align="center">Upload Image</label>
  <img *ngIf="firstImage != '' " src="{{firstImage}}" class="cl_display_img" >
</div>
<div fxLayout="column" fxLayoutAlign="center center" class="cl_second_column_img" onclick="document.getElementById('image_upload2').click()">
  <ion-icon *ngIf="secondImage == '' " name="camera" class="cl_images"></ion-icon>
  <label *ngIf="secondImage == '' " align="center">upload Image</label>
  <img *ngIf="secondImage != '' " src="{{secondImage}}" class="cl_display_img">
</div>
</div>

<div class="cl_image_div" fxLayout="row">
  <div fxLayout="column" fxLayoutAlign="center center" class="cl_first_column_img" onclick="document.getElementById('image_upload3').click()">
    <ion-icon *ngIf="thirdImage == '' " name="camera" class="cl_images"></ion-icon>
    <label *ngIf="thirdImage == '' " align="center">upload Image</label>
    <img *ngIf="thirdImage != '' " src="{{thirdImage}}" class="cl_display_img">
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="cl_second_column_img" onclick="document.getElementById('image_upload4').click()">
    <ion-icon *ngIf="fourthImage == '' " name="camera" class="cl_images"></ion-icon>
    <label *ngIf="fourthImage == '' " align="center">upload Image</label>
    <img  *ngIf="fourthImage != '' " src="{{fourthImage}}" class="cl_display_img">
  </div>
  </div>

  <div class="cl_image_div" fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="center center" class="cl_first_column_img" onclick="document.getElementById('image_upload5').click()">
      <ion-icon *ngIf="fifthImage == '' " name="camera" class="cl_images"></ion-icon>
      <label *ngIf="fifthImage == '' " align="center">upload Image</label>
      <img *ngIf="fifthImage != '' " src="{{fifthImage}}" class="cl_display_img" >
    </div>
  
    </div>

    <input style="display: none;" id="image_upload1" type="file" (change)="detectEventGallery($event,0)">
    <input style="display: none;" id="image_upload2" type="file" (change)="detectEventGallery($event,1)">
    <input style="display: none;" id="image_upload3" type="file" (change)="detectEventGallery($event,2)">
    <input style="display: none;" id="image_upload4" type="file" (change)="detectEventGallery($event,3)">
    <input style="display: none;" id="image_upload5" type="file" (change)="detectEventGallery($event,4)">

    
        <div fxFlex="100" fxLayoutGap="15px" style="margin-top:20px;" fxLayoutAlign="end end">
          <button mat-button class="buttonClass" matStepperPrevious>Back</button>
          <button mat-button  class="buttonClass" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup" >
      <form [formGroup]="fourthFormGroup" fxLayout="column" (ngSubmit)="form4()" #formfour="ngForm">
        <ng-template matStepLabel>Title</ng-template>
       
        <mat-form-field appearance="outline" style="width:100%">
          <mat-label>Select Category</mat-label>
         
          <mat-select 
          name="type" formControlName="categoryId" 
          (selectionChange)="selectCategoryType(categoryId)"
          class="filter-select" 
          [(value)]="categoryId">
            <mat-option *ngFor="let type of categoryArray" [value]="type.id">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width:100%">
          <mat-label>Select Sub Category</mat-label>
         
          <mat-select 
          name="type" formControlName="subCategoryId" 
          (selectionChange)="selectSubCategoryType(subCategoryId)"
          class="filter-select" 
          [(value)]="subCategoryId">
            <mat-option *ngFor="let type of subCategoryArray" [value]="type.id">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width:100%;" appearance="outline">
          <mat-label>Tags</mat-label>
            <mat-select 
            name="tag" formControlName="selectedTags" 
            (selectionChange)="selectedTags(selectedTags)"
            class="filter-select" 
            [(value)]="selectedTags" 
           
            multiple >
              <mat-option *ngFor="let tag of tagsArray" [value]="tag.name">
                {{tag.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field style="width:100%;" appearance="outline">
          <mat-label>Languages you support</mat-label>
            <mat-select 
            name="year"  formControlName="selectedLanguages" 
            (selectionChange)="selectedChanged(selectedLanguages)"
            class="filter-select" 
            [(value)]="selectedLanguages" 
           
            multiple >
              <mat-option *ngFor="let year of languageArray" [value]="year.name">
                {{year.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <div fxFlex="100" fxLayoutGap="15px" fxLayoutAlign="end end">
          <button mat-button class="buttonClass" matStepperPrevious>Back</button>
          <button mat-button class="buttonClass" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fifthFormGroup">
      <form [formGroup]="fifthFormGroup" fxLayout="column" (ngSubmit)="form5()" #formfive="ngForm">
      <ng-template matStepLabel>Payment</ng-template>
      <label class="desc-text" style="margin-top:20px;">How many weeks you have to post Advertisement</label>
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Select Weeks</mat-label>
       
        <mat-select 
        name="type" formControlName="adWeek" 
        (selectionChange)="selectAdWeek(adWeek)"
        class="filter-select" 
        [(value)]="adWeek">
          <mat-option *ngFor="let type of weeksArray" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <label class="desc-text">How many weeks you have to post Banner</label>
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Select Weeks</mat-label>
       
        <mat-select 
        name="type"  formControlName="bannerWeek" 
        (selectionChange)="selectBannerWeek(bannerWeek)"
        class="filter-select" 
        [(value)]="bannerWeek">
          <mat-option *ngFor="let type of weeksArray" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div fxFlex="100" fxLayoutGap="15px" fxLayout="row" fxLayoutAlign="end end">
        <button mat-button class="buttonClass" matStepperPrevious>Back</button>
        <button mat-button  class="buttonClass" type="button" (click)="stepper.reset()">Reset</button>
        <button mat-button class="buttonClass" (click)="formone.ngSubmit.emit();formtwo.ngSubmit.emit();formthree.ngSubmit.emit();formfour.ngSubmit.emit();formfive.ngSubmit.emit()">Submit</button>
      </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</ion-content>
