<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title style="color:white">Advertisement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->
  <mat-vertical-stepper [linear]="true" #stepper style="padding-bottom:100px;">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" fxLayout="column" (ngSubmit)="form1()" #formone="ngForm">
        <ng-template matStepLabel>Advertisement Detail</ng-template>
        <mat-form-field appearance="outline" class="margin-top-css">
          <mat-label class="floating-label-css">Title</mat-label>
          <input matInput type="text" formControlName="titleCtrl" required class="text-font-size">
        </mat-form-field>


        <mat-form-field appearance="outline" class="margin-top-css">
          <mat-label class="floating-label-css">Price</mat-label>
          <input matInput type="number" formControlName="priceCtrl" required class="text-font-size">
        </mat-form-field>

        <mat-form-field appearance="outline" class="margin-top-css">
          <mat-label class="floating-label-css">Description</mat-label>
          <textarea matInput type="text" formControlName="descriptionCtrl" required class="text-font-size"></textarea>
        </mat-form-field>

        <div fxLayoutAlign="start start" fxFlex="100">
          <button mat-button matStepperNext class="buttonClass">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" fxLayout="column" (ngSubmit)="form2()" #formtwo="ngForm">
        <ng-template matStepLabel>Contact Details</ng-template>
        <mat-form-field appearance="outline" class="margin-top-css">
          <mat-label class="floating-label-css">Email</mat-label>
          <input matInput type="email" class="text-font-size" formControlName="emailCtrl" required
            pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="center center" style="width:100%;">
          <mat-form-field class="margin-top-css" style="width:25%; height:82px; margin-right:10px; "
            appearance="outline">
            <mat-label class="floating-label-css">Select Code</mat-label>
            <mat-select name="type" formControlName="countryCodeCtrl" style="font-size:13px;"
              (selectionChange)="selectCountryCode(selectedCode)" class="filter-select" [(value)]="selectedCode">
              <mat-option *ngFor="let code of countryCode"  [value]="code.dial_code">
                +{{code.dial_code}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="margin-top-css"
            style="width:74%; height:82px; ">
            <mat-label class="floating-label-css">Mobile</mat-label>
            <input matInput type="tel" minlength="10" class="text-font-size" maxlength="10" formControlName="mobileCtrl"
              required>
          </mat-form-field>

        </div>


        <ion-row
          style="border: 1px solid #d3d5da;border-radius: 5px;height:60px; padding-left:8px; width:100%; margin-top:5px;margin-bottom:15px">
          <ion-col size="4" fxLayoutAlign="start center">
            <label class="floating-label-css" fxLayoutAlign="start center">Gender</label>

          </ion-col>

          <ion-col size="8" fxLayoutAlign="center center">
            <ion-radio-group (ionChange)="radioGroupChange($event)" formControlName="checkRadioButton">

              <div fxLayout="row" fxLayoutGap="10px">
                <div *ngFor="let item of genderArray" fxLayoutAlign="center center">
                  <ion-radio value="{{item.value}}"></ion-radio>
                  <ion-label fxLayoutAlign="center center" class="floating-label-css" style="margin-left:10px">{{item.name}}</ion-label>
                </div>

              

              </div>
              <!-- <div fxLayout="row">
                <div style="margin-right:20px" fxLayoutAlign="center center">
                  <ion-radio value="male"></ion-radio>
                  <ion-label fxLayoutAlign="center center" style="margin-left:10px">Male</ion-label>
                </div>

                <div fxLayoutAlign="center center">
                  <ion-radio value="female"></ion-radio>
                  <ion-label style="margin-left:10px">Female</ion-label>

                </div>

              </div> -->
            </ion-radio-group>


          </ion-col>
        </ion-row>

        <label class="floating-label-css" style="color:gray;margin-top:5px;margin-bottom:5px;">Just start typing you will get autocomplete result
          for address</label>
        <mat-form-field appearance="outline" class="margin-top-css">
          <mat-label class="floating-label-css">Address</mat-label>
          <input matInput class="text-font-size" formControlName="addressCtrl" ngx-google-places-autocomplete
            #placesRef="ngx-places" name="city" required (onAddressChange)="handleAddressChange($event)">
        </mat-form-field>

        <div fxFlex="100" fxLayoutGap="15px" fxLayoutAlign="start start">
          <button mat-button class="buttonBackClass" matStepperPrevious>Back</button>
          <button mat-button class="buttonClass" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup" fxLayout="column" (ngSubmit)="form3()" #formthree="ngForm">
        <ng-template matStepLabel>Images Upload</ng-template>
        <label class="desc-text" style="color:gray;margin-top:5px;">We recommend uploading image aspect ratio as 2:1</label>


        <div class="cl_image_div" style="margin-top:20px;" fxLayout="row">
          <div fxLayout="column" fxLayoutAlign="center center" class="cl_first_column_img"
            onclick="document.getElementById('image_upload1').click()">
            <ion-icon *ngIf="firstImage == '' " name="camera" class="cl_images"></ion-icon>
            <label class="floating-label-css" *ngIf="firstImage == '' " align="center">Upload Image</label>
            <img *ngIf="firstImage != '' " src="{{firstImage}}" class="cl_display_img">
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" class="cl_second_column_img"
            onclick="document.getElementById('image_upload2').click()">
            <ion-icon *ngIf="secondImage == '' " name="camera" class="cl_images"></ion-icon>
            <label class="floating-label-css" *ngIf="secondImage == '' " align="center">upload Image</label>
            <img *ngIf="secondImage != '' " src="{{secondImage}}" class="cl_display_img">
          </div>
        </div>

        <div class="cl_image_div" fxLayout="row">
          <div fxLayout="column" fxLayoutAlign="center center" class="cl_first_column_img"
            onclick="document.getElementById('image_upload3').click()">
            <ion-icon *ngIf="thirdImage == '' " name="camera" class="cl_images"></ion-icon>
            <label class="floating-label-css" *ngIf="thirdImage == '' " align="center">upload Image</label>
            <img *ngIf="thirdImage != '' " src="{{thirdImage}}" class="cl_display_img">
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" class="cl_second_column_img"
            onclick="document.getElementById('image_upload4').click()">
            <ion-icon *ngIf="fourthImage == '' " name="camera" class="cl_images"></ion-icon>
            <label class="floating-label-css" *ngIf="fourthImage == '' " align="center">upload Image</label>
            <img *ngIf="fourthImage != '' " src="{{fourthImage}}" class="cl_display_img">
          </div>
        </div>

        <div class="cl_image_div" fxLayout="row">
          <div fxLayout="column" fxLayoutAlign="center center" class="cl_first_column_img"
            onclick="document.getElementById('image_upload5').click()">
            <ion-icon *ngIf="fifthImage == '' " name="camera" class="cl_images"></ion-icon>
            <label class="floating-label-css" *ngIf="fifthImage == '' " align="center">upload Image</label>
            <img *ngIf="fifthImage != '' " src="{{fifthImage}}" class="cl_display_img">
          </div>

        </div>

        <input style="display: none;" id="image_upload1" type="file" (change)="detectEventGallery($event,0)">
        <input style="display: none;" id="image_upload2" type="file" (change)="detectEventGallery($event,1)">
        <input style="display: none;" id="image_upload3" type="file" (change)="detectEventGallery($event,2)">
        <input style="display: none;" id="image_upload4" type="file" (change)="detectEventGallery($event,3)">
        <input style="display: none;" id="image_upload5" type="file" (change)="detectEventGallery($event,4)">


        <div fxFlex="100" fxLayoutGap="15px" style="margin-top:20px;" fxLayoutAlign="start start">
          <button mat-button class="buttonBackClass" matStepperPrevious>Back</button>
          <button mat-button class="buttonClass" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup" fxLayout="column" (ngSubmit)="form4()" #formfour="ngForm">
        <ng-template matStepLabel>Filter Detail</ng-template>

        <mat-form-field appearance="outline" style="width:100%" class="margin-top-css">
          <mat-label class="floating-label-css">Select Category</mat-label>

          <mat-select style="font-size:13px;" name="type" formControlName="categoryId"
            (selectionChange)="selectCategoryType(categoryId)" class="filter-select" [(value)]="categoryId">
            <mat-option *ngFor="let type of categoryArray" [value]="type.id">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width:100%" class="margin-top-css">
          <mat-label class="floating-label-css">Select Sub Category</mat-label>

          <mat-select style="font-size:13px;" name="type" formControlName="subCategoryId"
            (selectionChange)="selectSubCategoryType(subCategoryId)" class="filter-select" [(value)]="subCategoryId">
            <mat-option *ngFor="let type of subCategoryArray" [value]="type.id">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width:100%;" appearance="outline" class="margin-top-css">
          <mat-label class="floating-label-css">Tags</mat-label>
          <mat-select style="font-size:13px;" name="tag" formControlName="selectedTags"
            (selectionChange)="selectedTags(selectedTags)" class="filter-select" [(value)]="selectedTags" multiple>
            <mat-option *ngFor="let tag of tagsArray" [value]="tag.name">
              {{tag.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field style="width:100%;" appearance="outline" class="margin-top-css">
          <mat-label class="floating-label-css">Languages you support</mat-label>
          <mat-select style="font-size:13px;" name="year" formControlName="selectedLanguages"
            (selectionChange)="selectedChanged(selectedLanguages)" class="filter-select" [(value)]="selectedLanguages"
            multiple>
            <mat-option *ngFor="let year of languageArray" [value]="year.name">
              {{year.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex="100" fxLayoutGap="15px" fxLayoutAlign="start start">
          <button mat-button class="buttonBackClass" matStepperPrevious>Back</button>
          <button mat-button class="buttonClass" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fifthFormGroup">
      <form [formGroup]="fifthFormGroup" fxLayout="column" (ngSubmit)="form5()" #formfive="ngForm">
        <ng-template matStepLabel>Payment</ng-template>


        <label class="desc-text" style="margin-top:10px;margin-bottom:10px;">How many weeks you have to post Banner</label>
        <mat-form-field appearance="outline" style="width:100%" class="margin-top-css">
          <mat-label class="floating-label-css">Select Banner Weeks</mat-label>

          <mat-select style="font-size:13px;" name="type" formControlName="bannerWeek"
            (selectionChange)="selectBannerWeek(bannerWeek)" class="filter-select" [(value)]="bannerWeek">
            <mat-option *ngFor="let type of weeksArray" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <label class="desc-text" style="margin-top:10px;margin-bottom:10px">How many weeks you have to post Advertisement</label>
        <mat-form-field appearance="outline" style="width:100%" class="margin-top-css">
          <mat-label class="floating-label-css">Select Advertisement Weeks</mat-label>

          <mat-select style="font-size:13px;" name="type" formControlName="adWeek"
            (selectionChange)="selectAdWeek(adWeek)" class="filter-select" [(value)]="adWeek">
            <mat-option *ngFor="let type of weeksArray" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>



        <div style="padding-bottom:20px;">
          <table style="width:100%" *ngIf="bannerWeek != '' || adWeek != '' ">
            <th align="center" class="table-text-size">Type</th>
            <th align="center" class="table-text-size">First Week Charges</th>
            <th align="center" class="table-text-size">Further Week Charges</th>
            <th align="center" class="table-text-size">Total</th>
            <tr *ngIf="bannerWeek != '' ">
              <td align="start" class="table-title-text-size">Banner</td>
              <td align="center" class="table-text-size">$7</td>
              <td align="center" class="table-text-size">$5</td>
              <td align="center" class="table-text-size">${{finalCalculation}}</td>
            </tr>
            <tr *ngIf="adWeek != '' ">
              <td align="start" class="table-title-text-size">Advertisement</td>
              <td align="center" class="table-text-size">$7</td>
              <td align="center" class="table-text-size">$5</td>
              <td align="center" class="table-text-size">${{finalAdCalculation}}</td>
            </tr>
            <tr *ngIf="bannerWeek != '' || adWeek != '' ">
             <td></td>
             <td></td>
             <td></td>
              <td align="center" class="table-text-size">${{totalCalculatePayment}}</td>
            </tr>
          </table>
         
        </div>
        <div fxFlex="100">
        <!-- <button *ngIf="totalCalculatePayment == 0 "  class="disabledClass">Pay with RazorPay</button> -->

        <button *ngIf="totalCalculatePayment != '0' "  class="buttonPayClass" (click)="payWithRazor()">Pay with RazorPay</button>
      </div>
        <!-- <div fxFlex="100" fxLayoutGap="15px" fxLayout="row" fxLayoutAlign="start start" style="margin-top:22px;">
          <button mat-button class="buttonBackClass" matStepperPrevious>Back</button>
          <button mat-button class="buttonBackClass" type="button" (click)="stepper.reset()">Reset</button>
          <button mat-button class="buttonClass"
            (click)="formone.ngSubmit.emit();formtwo.ngSubmit.emit();formthree.ngSubmit.emit();formfour.ngSubmit.emit();">Submit</button>
        </div> -->
      </form>
    </mat-step>
  </mat-vertical-stepper>

  <div class="cl_bottom_fix" fxLayout="row" fxLayoutAlign="space-around center" style="margin-top:10px">

    <div fxLayout="column" fxLayoutAlign="center center" style="width:20%" (click)="home()">
      <ion-icon name="home" class="cl_bottom_nav_css" (click)="home()"></ion-icon>
      <label fxLayoutAlign="center center" class="cl_text_font">HOME</label>
    </div>


    <div fxLayout="column" fxLayoutAlign="center center" style="width:20%" (click)="openChatList()">
      <ion-icon class="cl_bottom_nav_css" name="document" (click)="openChatList()"></ion-icon>
      <label fxLayoutAlign="center center" class="cl_text_font">CHATS</label>
    </div>


    <div fxLayout="column" fxLayoutAlign="center center" style="width:20%" (click)="postAdvertisement()">
      <ion-icon class="cl_post_css" name="add-circle" (click)="postAdvertisement()">
      </ion-icon>
      <label fxLayoutAlign="center center" class="cl_selected-text_font">SELL</label>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" style="width:20%" (click)="openFavourite()">
      <ion-icon class="cl_bottom_nav_css" name="heart" (click)="openFavourite()"></ion-icon>
      <label fxLayoutAlign="center center" class="cl_text_font">MY ADS</label>
    </div>


    <div fxLayout="column" fxLayoutAlign="center center" style="width:20%" (click)="openProfile()">
      <ion-icon class="cl_bottom_nav_css" name="person" (click)="openProfile()"></ion-icon>
      <label fxLayoutAlign="center center" class="cl_text_font">PROFILE</label>
    </div>

  </div>
</ion-content>