.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
 
  .cl_image_div{
    width:100%; 
    height:120px;
    padding-left:10px;
     padding-right:10px;
      margin-top:10px;
  }

  .cl_first_column_img{
    width:47%; 
    color:rgb(182, 179, 179);
    height:120px;
     border: 1px solid rgb(212, 209, 209);
     margin-right:10px;
     border-radius:10px;
  }

  .cl_second_column_img{
    width:47%;
    height:120px;
     color:rgb(182, 179, 179);
      border: 1px solid rgb(212, 209, 209);
       border-radius:10px;
  }

  .cl_images{
    width:40%; 
    height:25%;
    color:rgb(182, 179, 179);
  }

  .cl_display_img{
    width:100%;
     height:100%; 
     border-radius:10px;
  }

  .buttonClass{
    background-color: #fa7549;
    color:white;
    padding-left:10px;
    padding-right:10px;
  }


.mat-step-icon .mat-icon {
  font-size: 13px !important;
  height: 16px;
  width: 16px;
}

.desc-text{
  font-size:14px;
  
}

.text-font-size{
  font-size:13px;
}

.floating-label-css{
  font-size:13px;
}


.margin-top-css {
  margin-top: 0px;
}


.table-text-size{
  font-size:12px;
}

td{
  padding: 10px;
  border:1px solid gray;
}


th {
  padding: 10px;
  background-color: #f1f4f9;
  border:1px solid gray;
}