

.cl-back-button{
    background: url('../../../assets/back_white.png') center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    outline: 0;
    box-shadow: 0 0 0 0;
    // margin-right: 15px;
}


#map_canvas{
    margin-top:10px;
    width:100%;
    margin:auto;
    height: 25vh;
  }

//   .material-icons {
  
//     font-size: 14px;
  
// }