<ion-header class="new-background-color">
  <ion-toolbar class="new-background-color" fxLayoutAlign="center center">
  <ion-row fxLayoutAlign="center center">
    <ion-col size="1">
      <button ion-button class="cl-back-button" (click)="goBackword()" style="color:white;margin:7px"></button>
    </ion-col>
    <ion-col size="11" fxLayoutAlign="start center">
      <ion-label style="color:white;" class="TitleText">Update Profile</ion-label>
    </ion-col>
 
  </ion-row>
   
  </ion-toolbar>
</ion-header>


<ion-content>

  <div fxLayout="row" fxLayoutAlign="center center" style="width:100%;margin-top:20px">
    <mat-form-field style="width:96%;" appearance="outline">
      <mat-label>Name</mat-label>
          <input matInput class="form-control" type="text" name="name" [(ngModel)]="profileModel.name" #name="ngModel"
            align="center" required pattern="[a-zA-Z0-9,.  ]+$">
            <mat-error>
              <div class="form-group" style="margin-bottom:10px">
                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                  Name Is Requird
                </div>
              </div>
            </mat-error>
    </mat-form-field>
  </div>


  <div fxLayout="row" fxLayoutAlign="center center" style="width:100%;">
    <mat-form-field style="width:96%; margin-left: 2% ; margin-right: 2%;" appearance="outline">
      <mat-label style="color:black; background-color: white;">Email</mat-label>
      <input matInput class="form-control " name="email" [(ngModel)]="profileModel.email" #email="ngModel"
        pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
      <mat-error>
        <div class="form-group">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" >
           Invalid email address
          </div>
        </div>
      </mat-error>
  
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" style="width:100%;">
  <mat-form-field style="width:96%; margin-left: 2% ; margin-right: 2%" appearance="outline">
    <mat-label>Mobile</mat-label>
        <input matInput class="form-control" type="tel" name="contact" minlength="10" maxlength="10" [(ngModel)]="profileModel.contact" #contact="ngModel"
          align="center" required pattern="[0-9]+$">
          <mat-error>
            <div class="form-group">
              <div *ngIf="contact.invalid && (contact.dirty || contact.touched)">
                Mobile Is Requird
              </div>
            </div>
          </mat-error>
  </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" style="width:100%;margin-top:20px">
    <mat-form-field style="width:96%;" appearance="outline">
      <mat-label>Password</mat-label>
          <input matInput class="form-control" type="text" name="password" [(ngModel)]="profileModel.password" #password="ngModel"
            align="center" required pattern="[a-zA-Z0-9,.  ]+$" disabled>
        
    </mat-form-field>
  </div>

  <button mat-raised-button class="updateProfileButton" [disabled]="email.invalid ||  contact.invalid || name.invalid"
  (click)="updateProfileData(advertisementModel)"><b>Next</b></button>
</ion-content>
