<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-row>
      <ion-col size="2">
        <button ion-button class="cl-back-button" (click)="goBackword()" style="color:white;margin:7px"></button>
      </ion-col>
      <ion-col size="8" class="TitleHeader TitleText">
        <ion-label style="color:white ; margin-left:-15px">{{name}}</ion-label>
      </ion-col>
     <ion-col size="2">
       <ion-icon name="search" style="color:white; height:20px; width: 20px; margin:10px"></ion-icon>
     </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-header>

<ion-content  style="width:100%;height:100%;">
<div style="color:black"> 
<div *ngFor="let item of chatArray"> 
<div *ngIf="msgCount != '0' ">
  <div fxLayout="row" fxLayoutAlign="start center" *ngIf="item.senderId != userId " style="width:100%">
    <ion-col style="margin-left:10px">
      <button style="border-radius: 50%; width:50px; height:50px; background-color: #9badc0; "></button>
    </ion-col>

    <ion-col size="12">
      <div fxLayout="column">
        <section  style="width:auto;min-width:40%; max-width: 60%;margin-top:20px; padding:10px; background-color: #ebeff3">
          <label style="font-size: 15px;">{{item.message}}</label>
        </section>
       <!-- <label style="font-size:12px; margin-top:3px">{{item.modified | date}}</label> -->
      </div>
    </ion-col>
   
   
  </div>
</div>
 
<div *ngIf="msgCount != '0' ">
  <div fxLayout="column" fxLayoutAlign="end end"  *ngIf="item.senderId == userId ">
    <section  style="width:auto;min-width:40%; max-width: 70%;margin-top:20px; margin-right:10px; padding:10px; background-color: #d3e2f1">
      <label>{{item.message}}</label>
      <!-- <img src="../../../assets/defaultpic.png" style="height:80px; width:80px; border:1px solid gray" /> -->
    </section>
    <!-- <label style="margin-right:10px;font-size:12px; margin-top:3px">{{item.modified | date}}</label> -->
  </div>

</div>
 
</div>


<div *ngIf="msgCount == '0' " fxLayout="column" fxLayoutAlign="center center" style="width:100%; margin-top:40%">

<h1 > No chat present.</h1>
</div>


  <div style="position: fixed; height:80px; bottom:0;width:100%; margin:auto; margin-bottom:-5px; border-top:1px solid #f1f4f9; ">
    <ion-card style="width:100%;margin: auto">
      <ion-row>
        <ion-col size="9">
          <ion-textarea placeholder="Reply." style="color:black" [(ngModel)]="chatModel.message"></ion-textarea>
        </ion-col>

        <ion-col size="3" fxLayout="column" fxLayoutAlign="center center" >
          <ion-row>

            <ion-icon name="attach" style="color:rgb(121, 111, 111); width:30px; height:35px; margin-top:-5px; margin-right:5px"></ion-icon>
            <ion-icon name="send" style="color:rgb(121, 111, 111); width:25px; height:25px" (click)="sendMessage()"></ion-icon>
          </ion-row>
        
        </ion-col>
      </ion-row>
    </ion-card>
  
  </div>
</div>
</ion-content>
