<ion-header class="new-background-color">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" style="color:white">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color:white">
      Favourite
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="cl_bottom_fix">
    <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-top:10px">
      <ion-icon name="home" class="cl_bottom_nav_css" (click)="home()"></ion-icon>
      <ion-icon name="document" class="cl_bottom_nav_css" (click)="openChatList()"></ion-icon>
      <ion-icon name="add-circle" class="cl_bottom_nav_css" (click)="postAdvertisement()">
      </ion-icon>
      <ion-icon name="heart" class="cl_post_css" (click)="openFavourite()"></ion-icon>
      <ion-icon name="person" class="cl_bottom_nav_css" (click)="openProfile()"></ion-icon>
    </div>
  </div>
</ion-content>
