<ion-header class="new-background-color">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" style="color:white">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color:white; margin-left:-15px">
      Favourite
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="arrayLength > 0" style="width:98%; margin-left:1%; margin-top:10px">

    <div class="row" *ngFor="let item of imageArray" (click)="showAdvertisementDetail(item)">
      <div class="column" style="position:relative">
        <img src={{item.image}} style="border-radius: 5px;width:100%; height:100%"/>
        <div style="position:absolute; bottom:10px;width:100%">

          <ion-row style="color:white">
            <ion-col size="6" fxLayoutAlign="start start">
              <label style="font-size:12px"><b>Ad Title</b></label>
            </ion-col>
            <ion-col size="6" fxLayoutAlign="end end">
              <label style="font-size:12px;padding-right:13px"><b>$100</b></label>
            </ion-col>
          </ion-row>

          <ion-row style="width:100%; margin-top:-5px">
            <ion-col size="3">
              <ion-icon style="color:hotpink" name="woman"></ion-icon>
              <ion-icon style="color:hotpink; margin-left:5px" name="heart"></ion-icon>

            </ion-col>
            <ion-col size="9" fxLayoutAlign="end start">
              <label style="font-size:10px; color:white;padding-right: 11px;"><b>Mumbai , 120km</b></label>
            </ion-col>
          </ion-row>


        </div>
      </div>

    </div>


  </div>
  <img style="width:100%; height:60px; visibility: hidden;" />
  <div *ngIf="arrayLength == 0 " style="margin-top:20%">
    <h3 align="center">No records found.</h3>
  </div>

  <div class="cl_bottom_fix">
    <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-top:10px">
      <ion-icon name="home" class="cl_bottom_nav_css" (click)="home()"></ion-icon>
      <ion-icon name="document" class="cl_bottom_nav_css" (click)="openChatList()"></ion-icon>
      <ion-icon name="add-circle" class="cl_bottom_nav_css" (click)="postAdvertisement()">
      </ion-icon>
      <ion-icon name="heart" class="cl_post_css" (click)="openFavourite()"></ion-icon>
      <ion-icon name="person" class="cl_bottom_nav_css" (click)="openProfile()"></ion-icon>
    </div>
  </div>
</ion-content>
