
.cl_bottom_nav_css{
    width:30px;
    height:30px;
    color:gray;
  }
  
  .cl_bottom_fix{
    position: fixed; 
    bottom:0px;
    height:50px;
     width: 100%;
      background-color: white;
  }
  
  .cl_post_css{
    width:30px;
    height:30px;
    color:#152a3f;
    // color:rgb(247, 97, 97);
  }

  .column {
    float: left;
    border-radius: 5px;
    width: 50%;
    height:120px;
    padding-left: 4px;
    padding-right: 4px;
    // padding-top: 5px;
    padding-bottom: 9px;
    // margin-top:-5px;
  }

  // .tab-one {

  //   --background: #152a3f !important;
  //   --color:white;
    
  // }

  // .tab-two {

  //   --background: white !important;
  //   --color:#152a3f;
  // }

  div.b {
    white-space: nowrap; 
    width: 80px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    // border: 1px solid #000000;
  }
  