<ion-slides pager="false" style="width:100%; height:100%">

  <ion-slide style="width:50%; height:50%">
    <div >
      <img src="../../../assets/dancetwo.png">
    </div>
  </ion-slide>

  <ion-slide style="width:50%; height:50%">
    <div>
      <img src="../../../assets/dancetwo.png" >
    </div>
   </ion-slide>

   <ion-slide style="width:100%; height:100%">
    <div style="width:100%; height:100%; position: relative;">
      <img src="../../../assets/dancetwo.png" style="width:100%; height:100%;" />
      <!-- <h3 align="center" (click)="login()" style="color:white;position: absolute; bottom:30px;border: 1px solid white;z-index: 1;padding:10px">Login</h3> -->
      <div  style="position: absolute; bottom:30px; border: 1px solid white;z-index: 1;padding:10px" fxLayoutAlign="center center" (click)="login()">
        <label style="color:white" >Login</label>
        </div>
    </div>
 
   </ion-slide>
</ion-slides>