.cl-logo-css{
    width: 80px;
    height : 80px;
    border-radius: 50%;
}

.cl-sidemenu-logo{
    height: 250px;
     width : 100%;
    //   border-radius: 50%;
      display: block;
    
  }

  .background-img{
      height:250px;
      position: relative;
      background-image: url(../assets/dancetwo.png);
  }