<ion-header class="new-background-color">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" style="color:white">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color:white; margin-left:-15px">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="background-color:white" class="cl_margin100">

    <div>
      <ion-slides [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)"
        class="half-black">
        <ion-slide *ngFor="let item of bannerArray">
          <div class="cl_img_div">
            <!-- <img src="../../assets/dancetwo.png" class="cl_margin100" /> -->
            <img src="{{item.image}}" class="cl_margin100" />


            <div fxLayout="column" fxLayoutAlign="start start"
              style="width:100%;color:white;position:absolute; bottom:0; background: rgba(0, 0, 0, 0.5);">
              <div fxLayout="row" fxLayoutAlign="start start" class="cl_name_css">
                <label style="font-size:16px">{{item.extraData.name}}</label>
              </div>
              <div class="sub_div">
                <ion-row style="margin-top:5px">
                  <ion-col size="8" fxLayoutAlign="start center">
                    <label style="font-size:12px">{{item.extraData.categoryName}}</label>
                  </ion-col>
                  <ion-col size="4" fxLayoutAlign="end start">
                    <div>
                      <label style="font-size:12px">{{item.extraData.city}} , {{item.extraData.kilometer}}</label>
                    </div>
                  </ion-col>
                </ion-row>

              </div>

            </div>

          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <!-- </div> -->


    <div style="width:100%; background-color:white;margin-top:15px; height:100%">
      <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-bottom:10px">
        <img src="../../assets/funnelimg.png" style="width:30px;height:30px" (click)="filter()" />

        <div fxLayout="column" fxLayoutAlign="center center" *ngFor="let item of categoryArray"
          (click)="checkType(item.name, item.id)">
          <img src="{{item.image}}" style="width:30px;height:30px" />
          <label style="margin-top:5px;font-size:12px">{{item.name}}</label>
        </div>
      </div>


      <div *ngIf="countAdvertisement > 0" style="width:98%; margin-left:1%">

        <div class="row" *ngFor="let item of advertisementArray" (click)="showAdvertisementDetail(item)">
          <div *ngFor="let image of item.images">
            <div class="column" style="position:relative">
              <img src={{image}} style="border-radius: 5px;width:100%; height:100%"/>
              <div style="position:absolute; bottom:5px;width:95%; background: rgba(0, 0, 0, 0.5); border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;;" >
  
                <ion-row style="color:white">
                  <ion-col size="6" fxLayoutAlign="start start" >
                    <label style="font-size:12px"><b>{{item.title}}</b></label>
                  </ion-col>
                  <ion-col size="6" fxLayoutAlign="end end" >
                    <label style="font-size:12px;padding-right:13px"><b>$100</b></label>
                  </ion-col>
                </ion-row>
  
                <ion-row style="width:100%; margin-top:-5px" >
                  <ion-col size="4" >
                    <ion-icon style="color:hotpink" name="woman"></ion-icon>
                    <ion-icon style="color:hotpink; margin-left:5px" name="heart"></ion-icon>
  
                  </ion-col>
                  <ion-col size="8" fxLayoutAlign="end start">
                    <div class="b">
                      <label style="font-size:10px; color:white;padding-right: 11px;"><b>{{item.address}} , 120km</b></label>
                    </div>
                  </ion-col>
                </ion-row>
  
  
              </div>
            </div>

          </div>
       

        </div>


      </div>
      <img style="width:100%; height:60px; visibility: hidden;" />
      <div *ngIf="countAdvertisement == 0 " style="margin-top:20%">
        <h3 align="center">No records found.</h3>
      </div>


    </div>

    <div class="cl_bottom_fix">
      <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-top:10px">
        <ion-icon name="home" class="cl_post_css" (click)="home()"></ion-icon>
        <ion-icon name="document" class="cl_bottom_nav_css" (click)="openChatList()"></ion-icon>
        <ion-icon name="add-circle" class="cl_bottom_nav_css" (click)="postAdvertisement()">
        </ion-icon>
        <ion-icon name="heart" class="cl_bottom_nav_css" (click)="openFavourite()"></ion-icon>
        <ion-icon name="person" class="cl_bottom_nav_css" (click)="openProfile()"></ion-icon>
      </div>
    </div>

  </div>

</ion-content>