<ion-header class="new-background-color">
  <ion-toolbar class="new-background-color">
  <ion-row>
    <ion-col size="3" (click)="showPopup()" fxLayoutAlign="start center">
      <mat-icon style="font-size:22px;color:white;position:fixed;left:10px;cursor: pointer;">room</mat-icon>
      <label style="color:white;margin-left:30px;font-size:15px;;cursor: pointer;margin-top:0px" >{{cityName}}</label>

    </ion-col>
    <ion-col size="6" fxLayoutAlign="center center">
    <label style="color:white; font-size:17px; margin-left:10px; margin-top:3px">Holyhub</label>
    </ion-col>
    <ion-col size="3">
      <mat-icon [matMenuTriggerFor]="menu"
      style="position: fixed; right:22px;color:white;font-size:20px; bottom : 15px;cursor: pointer;">
      g_translate</mat-icon>
    <mat-menu #menu="matMenu" >
      <div fxLayout="row" style="margin-left:20px; margin-top:10px" *ngFor="let language of Languages">
        <img src="{{language.image}}" style="width:25px; height:25px" />
        <label style="margin-top:-15px" mat-menu-item>{{language.name}}</label>
      </div>
      
    </mat-menu>
    </ion-col>
  </ion-row>

   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="background-color:white" class="cl_margin100">

    <div>
      <ion-slides [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)"
        class="half-black">
        <ion-slide *ngFor="let item of bannerArray">
          <div class="cl_img_div">
            <img src="{{item.image}}" class="cl_margin100" />


            <div fxLayout="column" fxLayoutAlign="start start"
              style="width:100%;color:white;position:absolute; bottom:0; background: rgba(0, 0, 0, 0.5);">
              <div fxLayout="row" fxLayoutAlign="start start" class="cl_name_css">
                <label style="font-size:14px">{{item.title}}</label>
              </div>
              <div class="sub_div">
                <ion-row style="margin-top:2px">
                  <ion-col size="8" fxLayoutAlign="start center">
                    <div class="check_width" fxLayoutAlign="start start">
                      <label  style="font-size:10px">{{item.description}}</label>
                    </div>
                  </ion-col>
                  <ion-col size="4" fxLayoutAlign="end start">
                    <div class="show_width">
                      <label style="font-size:10px">{{item.city}} , 120KM</label>
                    </div>
                  </ion-col>
                </ion-row>

              </div>

            </div>

          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <!-- </div> -->


    <div style="width:100%; background-color:white;margin-top:15px; height:auto">
      <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-bottom:10px">
        <img *ngIf="noInternet == '0' " src="../../assets/funnelimg.png" style="width:30px;height:30px" (click)="filter()" />

        <div fxLayout="column" fxLayoutAlign="center center" *ngFor="let item of categoryArray"
          (click)="checkType(item.name, item.id)" [ngClass]="(displayCategory == item.id) ? 'even' : 'odd' ">
          <img src="{{item.image}}" style="width:30px;height:30px" />
          <label style="margin-top:5px;font-size:12px">{{item.name}}</label>
        </div>
      </div>


      <div *ngIf="countAdvertisement > 0" style="width:98%;margin-left:1%">

        <div class="row" *ngFor="let item of advertisementArray">
          <div >
            <div class="column" style="position:relative">
              <img src={{item.images[0]}}  style="border-radius: 5px;width:100%; height:100%" (click)="showAdvertisementDetail(image, item.id)"/>
              <div (click)="bookmarkAdvertisement(item.id)"
                style="position:absolute; bottom:8px;width:96%; background: rgba(0, 0, 0, 0.5); border-bottom-left-radius: 7px;border-bottom-right-radius: 7px;;">

                <div fxLayout="row" style="width:100%; color:white;padding-top:2px;">
                  <div fxFlex="50" fxLayoutAlign="start start">
                    <div class="b">
                    <label style="font-size:11px;padding-left:5px"><b>{{item.title}}</b></label>
                    </div>
                  </div>

                  <div fxFlex="50" fxLayoutAlign="end end">
                    <label style="font-size:11px;padding-right:4px"><b>{{item.price}}</b></label>
                  </div>

                </div>

                <div fxLayout="row" style="width:100%; color:white;padding-top:2px; padding-bottom:2px">
                  <div fxFlex="30" fxLayoutAlign="start start" >
                    <ion-icon style="color:hotpink" name="woman"></ion-icon>

                      <ion-icon *ngIf="postBookmarkObj [item.id] == true " style="color:hotpink; margin-left:5px" name="heart"></ion-icon>
                      <ion-icon *ngIf="postBookmarkObj [item.id] != true " style="color:hotpink; margin-left:5px" name="heart-outline"></ion-icon>

                    <!-- <ion-icon *ngIf="keysObject.length == 0" style="color:hotpink; margin-left:5px" name="heart-outline"></ion-icon> -->
                    
                  </div>
                  <div fxFlex="20">

                  </div>

                  <div fxFlex="50" fxLayoutAlign="end end">
                    <div class="b" style="margin-top:-5px">
                      <label style="font-size:10px; color:white;"><b>{{item.address}} ,
                          120km</b></label>
                    </div>
                    <!-- <label style="font-size:10px;padding-right:5px"><b>{{item.address}} , 120km</b></label> -->
                  </div>

                </div>


                <!-- <ion-row style="width:100%; margin-top:-5px">
                  <ion-col size="4">
                    <ion-icon style="color:hotpink" name="woman"></ion-icon>
                    <ion-icon style="color:hotpink; margin-left:5px" name="heart"></ion-icon>

                  </ion-col>
                  <ion-col size="8" fxLayoutAlign="end start">
                    <div class="b">
                      <label style="font-size:10px; color:white;padding-right: 11px;"><b>{{item.address}} ,
                          120km</b></label>
                    </div>
                  </ion-col>
                </ion-row> -->


              </div>
            </div>

          </div>


        </div>


      </div>
      <img style="width:100%; height:60px; visibility: hidden;" />
      <div *ngIf="countAdvertisement == 0 " style="margin-top:20%">
        <h3 align="center">No records found.</h3>
      </div>


    </div>

    <div class="cl_bottom_fix">
      <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-top:10px">
        <ion-icon name="home" class="cl_post_css" (click)="home()"></ion-icon>
        <ion-icon name="document" class="cl_bottom_nav_css" (click)="openChatList()"></ion-icon>
        <ion-icon name="add-circle" class="cl_bottom_nav_css" (click)="postAdvertisement()">
        </ion-icon>
        <ion-icon name="heart" class="cl_bottom_nav_css" (click)="openFavourite()"></ion-icon>
        <ion-icon name="person" class="cl_bottom_nav_css" (click)="openProfile()"></ion-icon>
      </div>
    </div>

  </div>

</ion-content>