<ion-header class="new-background-color">
  <ion-toolbar class="new-background-color">
  <ion-row>
    <ion-col size="3" (click)="showPopup()" fxLayoutAlign="start center">
      <mat-icon style="font-size:22px;color:white;position:fixed;left:10px;cursor: pointer;">room</mat-icon>
      <label style="color:white;margin-left:35px;font-size:15px;;cursor: pointer;margin-top:0px" >{{cityName}}</label>

    </ion-col>
    <ion-col size="5" fxLayoutAlign="center center">
    <label style="color:white; font-size:17px; margin-left:10px; margin-top:3px">Holyhub</label>
    </ion-col>
    <ion-col size="3">
      <mat-icon [matMenuTriggerFor]="menu"
      style="position: fixed; right:22px;color:white;font-size:20px; bottom : 15px;cursor: pointer;">
      g_translate</mat-icon>
    <mat-menu #menu="matMenu" >
      <div fxLayout="row" style="margin-left:20px; margin-top:10px" *ngFor="let language of Languages">
        <img src="{{language.image}}" style="width:25px; height:25px" />
        <label style="margin-top:-15px" mat-menu-item>{{language.name}}</label>
      </div>
      
    </mat-menu>
    </ion-col>
    <ion-col size="1" (click)="notifications()">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-col>
  </ion-row>

   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="background-color:white" class="cl_margin100">

    <div>
      <ion-slides [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)"
        class="half-black">
        <ion-slide *ngFor="let item of bannerArray">
          <div class="cl_img_div">
            <img src="{{item.image}}" class="cl_margin100" />

            <div fxLayout="column" fxLayoutAlign="start start"
              style="width:100%;color:white;position:absolute; bottom:0; background: rgba(0, 0, 0, 0.2);padding-top:5px;">
              <div fxLayout="row" fxLayoutAlign="start start" class="cl_name_css">
                <label style="font-size:15px;">{{item.title}}</label>
              </div>
              <div class="sub_div">
                <ion-row style="margin-top:2px">
                  <ion-col size="8" fxLayoutAlign="start center">
                    <div class="check_width" fxLayoutAlign="start start">
                      <label  style="font-size:12px">{{item.description}}</label>
                    </div>
                  </ion-col>
                  <ion-col size="4" fxLayoutAlign="end start">
                    <div class="show_width">
                      <label style="font-size:12px">{{item.city}}</label>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
   


    <div style="width:100%; background-color:white;margin-top:10px; height:auto">
    
      <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-bottom:10px;width:100%;">
        <div style="width:13%;" fxLayoutAlign="center center">
          <img *ngIf="noInternet == '0' " src="../../assets/funnelimg.png" style="width:30px;height:30px" (click)="filter()" />
        </div>
        <div style="overflow-x: scroll;width:87%" fxLayout="row">
          <div fxLayout="column" fxLayoutAlign="center center" style="width:145px;" *ngFor="let item of categoryArray" 
          (click)="checkType(item.name, item.id)" [ngClass]="(displayCategory == item.id) ? 'even' : 'odd' ">
          <img  fxLayoutAlign="center center" src="{{item.image}}" style="width:30px;height:30px" />
          <div fxLayoutAlign="center center">
            <label class="categoty-width"  class="categoty-width">{{item.name}}</label>
          </div>
        </div>
        </div>
       
        
      </div>

    
      <!-- <div fxLayout="row" fxLayoutAlign="space-evenly center" style="margin-bottom:10px;border: 1px solid gray">
        <img *ngIf="noInternet == '0' " src="../../assets/funnelimg.png" style="width:30px;height:30px;border: 1px solid gray" (click)="filter()" />

        <div fxLayout="column" style="border: 1px solid gray" fxLayoutAlign="center center" *ngFor="let item of categoryArray"
          (click)="checkType(item.name, item.id)" [ngClass]="(displayCategory == item.id) ? 'even' : 'odd' ">
          <img src="{{item.image}}" style="width:30px;height:30px;margin-left:5px" />
          <label fxLayoutAlign="center center" class="categoty-width">{{item.name}}</label>
        </div>
      </div> -->


      <div *ngIf="countAdvertisement > 0" style="width:98%;margin-left:1%">

        <div class="row" *ngFor="let item of advertisementArray">
          <div >
            <div class="column" style="position:relative">
              <img src={{item.images[0]}}  style="border-radius: 5px;width:100%; height:100%" (click)="showAdvertisementDetail(image, item.id)"/>
             
             <div style="position:absolute; top:7px;right:8px;" (click)="bookmarkAdvertisement(item.id)">
              <ion-icon *ngIf="postBookmarkObj [item.id] == true " style="color:hotpink;width:24px;height:24px; margin-left:5px" name="heart"></ion-icon>
              <ion-icon *ngIf="postBookmarkObj [item.id] != true " style="color:hotpink;width:24px;height:24px; margin-left:5px" name="heart-outline"></ion-icon>
             </div>
             
              <div 
                style="position:absolute; bottom:8px;width:96%; background: rgba(0, 0, 0, 0.2) ; border-bottom-left-radius: 7px;border-bottom-right-radius: 7px;;">

                <div fxLayout="row" style="width:100%; color:white;padding-top:2px;">
                  <div fxFlex="100" fxLayoutAlign="start start">
                    <div class="b">
                    <label style="font-size:13px;padding-left:5px; font-weight:normal"><b>{{item.title}}</b></label>
                    </div>
                  </div>

                  <!-- <div fxFlex="50" fxLayoutAlign="end end">
                    <label style="font-size:11px;padding-right:4px"><b>{{item.price}}</b></label>
                  </div> -->

                </div>

                <div fxLayout="row" style="width:100%; color:white;padding-top:2px; padding-bottom:2px">
                  <div fxFlex="30" fxLayoutAlign="start start" >
                    <!-- <ion-icon style="color:white" name="woman"></ion-icon> -->
                    <label style="font-size:10px;padding-left:5px;font-weight:normal"><b>₹{{item.price}}</b></label>
                      

                    <!-- <ion-icon *ngIf="keysObject.length == 0" style="color:hotpink; margin-left:5px" name="heart-outline"></ion-icon> -->
                    
                  </div>
                  <div fxFlex="20">

                  </div>

                  <div fxFlex="50" fxLayoutAlign="end end">
                    <div class="b" style="margin-top:-5px">
                      <label style="font-size:10px; color:white;font-weight:normal;padding-right:3px;"><b>{{item.address}}</b></label>
                    </div>
                  </div>

                </div>



              </div>
            </div>

          </div>


        </div>


      </div>
      <img style="width:100%; height:60px; visibility: hidden;" />
      <div *ngIf="countAdvertisement == 0 " style="margin-top:20%">
        <h3 align="center">No records found.</h3>
      </div>


    </div>

    
      <div fxLayout="row" class="cl_bottom_fix" style="margin-top:10px;width:100%">
        <div fxLayout="column" fxLayoutAlign="center center" class="cl_post_css" style="width:20%" (click)="home()">
          <!-- <ion-icon name="home"  class="cl_icon"></ion-icon> -->
          <mat-icon  fxLayoutAlign="center center" class="cl_icon">home</mat-icon>
          <label fxLayoutAlign="center center" class="cl_text_font">HOME</label>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" style="width:20%" class="cl_bottom_nav_css" (click)="openChatList()">
          <!-- <ion-icon name="chatbubbles" class="cl_icon" ></ion-icon> -->
          <mat-icon fxLayoutAlign="center center" class="cl_icon"> chat_bubble_outline</mat-icon>
          <label fxLayoutAlign="center center" class="cl_text_font">CHATS</label>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" style="width:20%" class="cl_bottom_nav_css"  (click)="postAdvertisement()">
          <!-- <ion-icon name="add-circle" class="cl_icon">
          </ion-icon> -->
          <mat-icon fxLayoutAlign="center center" class="cl_icon">add_circle_outline</mat-icon>
          <label fxLayoutAlign="center center" class="cl_text_font">SELL</label>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" style="width:20%" class="cl_bottom_nav_css" (click)="openFavourite()">
          <!-- <ion-icon name="paper" class="cl_icon" ></ion-icon> -->
          <mat-icon fxLayoutAlign="center center" class="cl_icon" >library_books</mat-icon>
          <label fxLayoutAlign="center center" class="cl_text_font">MY ADS</label>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" style="width:20%" class="cl_bottom_nav_css" (click)="openProfile()">
          <!-- <ion-icon name="person" class="cl_icon" ></ion-icon> -->
          <mat-icon  fxLayoutAlign="center center" class="cl_icon">person</mat-icon>
          <label fxLayoutAlign="center center" class="cl_text_font">ACCOUNT</label>
        </div>
       
      </div>
    </div>


</ion-content>