<ion-content>
<button *ngIf="categoryId != '' " mat-raised-button class="clear-button-css" (click)="clearFilter()">Clear Filter</button>
<button *ngIf="categoryId == '' " mat-raised-button class="clear-button-css" (click)="closeFilter()">Close Filter</button>
  <ion-list style="border-bottom:1px solid white" *ngFor="let item of categoryArray; let i = index;" class="accordion-list" detail="false" no-padding>
    <ion-item tappable  (click)="toggleSection(i,item.id)" [ngClass]="(categoryId == item.id) ? 'section-active' : 'section' ">
      <ion-row style="width:100%;color:white" tappable >
        <ion-col size="10"  >
          <ion-label>
            {{item.name}}
          </ion-label>
        </ion-col>

        <ion-col size="2"   >
         
          <mat-icon style="color:white;width:25px; height:25px;" *ngIf="categoryId != item.id">keyboard_arrow_right</mat-icon>
          <mat-icon style="color:white;width:25px; height:25px;" *ngIf="categoryId == item.id">keyboard_arrow_down</mat-icon>
        </ion-col>
      </ion-row>

    </ion-item>

    <div *ngIf="item.childrens && item.id == categoryId ">
      <ion-list class="child-list" *ngFor="let child of item.childrens; let j = index;" lines="none">
        
        <ion-item tappable *ngIf="child.name" (click)="toggleItem(i,j,item.id, child.id)" style="text-align: start;"
        [ngClass]="(subCategoryId == child.id) ? 'child-active' : 'child' ">
          <ion-label style="color:white; margin-left:5px;" >
            {{child.name}}
          </ion-label>
        </ion-item>

      
      </ion-list>
    </div>


    <ion-item *ngIf="item.childrens.length == 0 && item.id == categoryId" style="text-align: center;">
      <ion-label style="color:white">
        Sorry, nothing in here!
      </ion-label>
    </ion-item>

    <!-- <p *ngIf="item.childrens.length == 0 && item.open" style="color:white" text-center>Sorry, nothing in here!</p> -->

  </ion-list>

  <!-- <ion-list style="border-bottom:1px solid white" *ngFor="let item of categoryArray; let i = index;" class="accordion-list" detail="false" no-padding>
    <ion-item tappable  (click)="toggleSection(i,item.id)"
      [ngClass]="{'section-active': item.open, 'section': !item.open}">
      <ion-row style="width:100%;color:white" tappable >
        <ion-col size="10"  >
          <ion-label>
            {{item.name}}
          </ion-label>
        </ion-col>

        <ion-col size="2"   >
         
          <mat-icon style="color:white;width:25px; height:25px;" *ngIf="!item.open">keyboard_arrow_right</mat-icon>
          <mat-icon style="color:white;width:25px; height:25px;" *ngIf="item.open">keyboard_arrow_down</mat-icon>
        </ion-col>
      </ion-row>

    </ion-item>

    <div *ngIf="item.childrens && item.open">
      <ion-list class="child-list" *ngFor="let child of item.childrens; let j = index;" lines="none">
        
        <ion-item tappable *ngIf="child.name" (click)="toggleItem(i,j,item.id, child.id)" style="text-align: start;"
          [ngClass]="{'child-active': child.open, 'child': !child.open}">
          <ion-label style="color:white; margin-left:5px;" >
            {{child.name}}
          </ion-label>
        </ion-item>

      
      </ion-list>
    </div>


    <ion-item *ngIf="item.childrens.length == 0 && item.open" style="text-align: center;">
      <ion-label style="color:white">
        Sorry, nothing in here!
      </ion-label>
    </ion-item>

  </ion-list> -->

</ion-content>